* {
    box-sizing: border-box;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier;
}

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.75fr 0.25fr 2fr 0.1fr;
    grid-template-areas: 
      "title title title"
      "controls win game"
      ". footer footer";
     gap: 7px;
}

.title {
    grid-area: title;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 1em;
    font-size: 50px;
}

.help {
    grid-area: controls;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how-to {
    border: 2px  black solid;
    background-color: lightgrey;
    border-bottom: 1px black dashed;
    padding: 10px;
}

#control-text {
    border: 2px  black solid;
    background-color: lightgrey;
    border-top: 1px black dashed;
    padding: 10px;
}

.win {
    grid-area: win;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.game {
    border: 2px black solid;
    grid-area: game;
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px;
    place-items: center;
}

.stats {
    border: 2px black solid;
    display: flex;
    height: 40px;
    padding: 5px;
    width: 500px;
    justify-content: space-around;
    place-items: center;
}

.board-container {
    border: 2px black solid;
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    font-size: xx-large;
    text-align: center;
}

.board {
    border: 2px black solid;
    align-items: center;
}

.footer {
    grid-area: footer;
    grid-row-start: 4;
    grid-row-end: end;
    text-align: right;
}